<app-login-navbar></app-login-navbar>

<div class="user-login">
    <div class="login-container">

        <div class="form">
            <div class="form-container">
                <div class="form-header">
                    Đăng ký
                </div>

                <div class="form-information">

                    <form action="/login" method="post">
                        <div class="form-group">
                            <input type="text" id="phoneNumber" name="phoneNumber"
                                placeholder="Số điện thoại"
                                required>
                        </div>
                        <!-- <div class="form-group">
                            <input type="password" id="password" name="password"
                                required>
                        </div> -->
                        <button type="submit">TIẾP THEO</button>

                        <div class="space">
                            <div class="x-space"></div>
                            <div class="x-content"
                                style="font-size: 14px; color: rgb(185, 185, 185);">
                                HOẶC
                            </div>
                            <div class="x-space"></div>
                        </div>

                        <div class="account-btn-container">
                            <div class="account-btn">
                                <i class="fa-brands fa-facebook" style="color: #3573de; 
                                margin-right: 6px; margin-top: 1px; font-size: 23px;"></i>
                                Facebook
                            </div>
                            <div class="account-btn">
                                <i class="fa-brands fa-google" style="color: #b6653a; 
                                margin-right: 6px; margin-top: 1px; font-size: 23px;"></i>
                                Google
                            </div>
                        </div>
                    </form>

                    <div class="form-conditions">
                        Bằng việc đăng kí, bạn đã đồng ý với Shopee về 
                        <div class="cond-links">
                            <a href="#">Điều khoản dịch vụ</a>
                            &
                            <a href="#">Chính sách bảo mật</a>
                        </div>
                    </div>

                    <div class="form-login-container">
                        Bạn đã có tài khoản? 
                        <a href="#">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />