<div class="suggestion-container container">
    <div class="header-container">
        GỢI Ý HÔM NAY
    </div>
    <div class="content-container">
        <div class="content-wrapper">
            <div class="item-row-container">
                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">
                            <div class="desc">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Explicabo, illo eum error amet
                                alias dolores! Sunt, odit ex, tempore id ipsum
                                officiis facere nisi voluptate ullam, quibusdam
                                nesciunt saepe modi?
                                Nulla praesentium doloremque dicta soluta
                                repellat eaque quidem delectus dolorem et id
                                blanditiis minus unde, perspiciatis velit est ad
                                vel aliquid! Quisquam, deserunt natus
                                dignissimos reprehenderit fugiat pariatur sed
                                voluptates?
                            </div>
                            <div class="tag">

                            </div>
                            <div class="quantity">
                                <div class="price">

                                </div>
                                <div class="sold-number"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">

                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">

                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">

                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">

                        </div>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-wrapper">
                        <div class="item-image">

                        </div>
                        <div class="item-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>o