.suggestion-container {
    margin-top: 20px;
    padding: 0;

    height: 500px;
    width: 1200px;

    overflow: hidden;
    background-color: aqua;
}

.header-container {
    height: 60px;
    width: 1200px;

    background-color: beige;
}


.item-container {
    height: 250px;
    width: 1200px;
}