<app-navbar></app-navbar>

<div class="user-account-page">
    <div class="user-container container">

        <div class="account-container">

            <div class="account-profile">
                <div class="account-image">
                    <img src="../../../../assets/Signature.png" alt>
                </div>
                <div class="account-content">
                    <div class="username">
                        i52qfld6w6
                    </div>
                    <div class="action">
                        <i class="fa-solid fa-pen"
                            style="margin-right: 5px; color: rgb(136, 136, 136); font-size: 13px;"></i>
                        Sửa hồ sơ
                    </div>
                </div>
            </div>

            <div class="profile-setting">
                <div class="profile-header">
                    <span class="icon"
                        style="margin-right: 10px; font-size: 17px; color: rgb(57, 57, 248);"><i
                            class="fa-regular fa-user"></i></span>
                    <span class="title">Tài Khoản Của Tôi</span>
                </div>
                <ul class="menu">
                    <li class="menu-item active">Hồ Sơ</li>
                    <li class="menu-item">Ngân Hàng</li>
                    <li class="menu-item">Địa Chỉ</li>
                    <li class="menu-item">Đổi Mật Khẩu</li>
                    <li class="menu-item">Cài Đặt Thông Báo</li>
                    <li class="menu-item">Những Thiết Lập Riêng Tư</li>
                </ul>
            </div>

            <div class="other-setting">
                <div class="order-container">
                    <span class="icon"
                        style="margin-right: 10px; font-size: 17px; color: rgb(114, 114, 249);"><i
                            class="fa-solid fa-clipboard-list"></i></span>
                    <span class="title">Đơn Mua</span>
                </div>
                <div class="noti-container">
                    <span class="icon"
                        style="margin-right: 10px; font-size: 17px; color: rgb(238, 77, 45);"><i
                            class="fa-regular fa-bell"></i></span>
                    <span class="title">Thông Báo</span>
                </div>
                <div class="voucher-container">
                    <span class="icon"
                        style="margin-right: 10px; font-size: 13px; color: rgb(238, 77, 45);"><i
                            class="fa-solid fa-ticket"></i></span>
                    <span class="title">Kho Voucher</span>
                </div>
                <div class="shopee-container">
                    <span class="icon"
                        style="margin-right: 10px; font-size: 17px; color: rgb(181, 186, 45);"><i
                            class="fa-brands fa-bitcoin"></i></span>
                    <span class="title">Shopee Xu</span>
                </div>
            </div>

        </div>

        <div class="content-container">
            <div class="header-content">
                <div class="title">
                    Hồ Sơ Của Tôi
                </div>
                <div class="content">
                    Quản lý thông tin hồ sơ để bảo mật tài khoản
                </div>
            </div>
            <div class="form-content">
                <div class="form-container">
                    <form>
                        <div class="form-group">
                            <label for="username" class="label">Tên đăng
                                nhập</label>
                            <input type="text" id="username"
                                placeholder="i52qfld6w6">
                            <div class="small-warning">Tên Đăng nhập chỉ có thể
                                thay đổi một lần.
                            </div>
                        </div>

                        <div class="y-space" style="height: 35px;"></div>

                        <div class="form-group">
                            <label for="name" class="label">Tên</label>
                            <input type="text" id="username"
                                placeholder="i52qfld6w6">
                        </div>

                        <div class="y-space" style="height: 5px;"></div>

                        <div class="form-group">
                            <label for="email" class="label">Email</label>
                            <!-- <div class="link-action">
                                <a href="#">Thêm</a>
                            </div> -->
                            <input type="text" id="username"
                                placeholder="i52qfld6w6">
                        </div>

                        <div class="y-space" style="height: 5px;"></div>

                        <div class="form-group">
                            <label for="phone" class="label">Số điện
                                thoại</label>
                            <input type="text" id="username"
                                placeholder="i52qfld6w6">
                        </div>

                        <div class="form-group">
                            <label class="label">Giới tính</label>
                            <div class="gender-options">
                                <div class="value" style="margin-right: 15px;">
                                    <input type="radio" id="male"
                                        name="gender"
                                        value="male">
                                    <label for="male">Nam</label>
                                </div>

                                <div class="value" style="margin-right: 15px;">
                                    <input type="radio" id="female"
                                        name="gender"
                                        value="female">
                                    <label for="female">Nữ</label>
                                </div>

                                <div class="value" style="margin-right: 15px;">
                                    <input type="radio" id="other" name="gender"
                                        value="other">
                                    <label for="other">Khác</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="birthdate" class="label">Ngày
                                sinh</label>
                            <div class="dob-select">
                                <select id="day" class="dob-dropdown">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <select id="month" class="dob-dropdown">
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <!-- Add more month options here -->
                                </select>
                                <select id="year" class="dob-dropdown">
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <!-- Add more year options here -->
                                </select>
                            </div>
                        </div>
                        <div class="save-btn">Lưu</div>
                    </form>
                </div>
                <div class="image-container">
                    <div class="image-wrapper">
                        <img src="../../../../assets/Signature.png" alt>
                    </div>
                    <div class="content-wrapper">
                        <div class="button">
                            Chọn Ảnh
                        </div>
                        <div class="content">
                            Dụng lượng file tối đa 1 MB
                            Định dạng:.JPEG, .PNG
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />