<div class="category-container container">
    <div class="header-container">
        <div class="header-wrapper">
            DANH MỤC
        </div>
    </div>
    <div class="item-container ">
        <div class="swiper-container">
            <div class="item-wrapper swiper-wrapper"
                [style.transform]="getTransform()">
                <div class="item-column swiper-slide"
                    *ngFor="let categoryPair of groupedCategories">
                    <div class="item" *ngFor="let category of categoryPair">
                        <div class="image-container">
                            <img [src]="category.imageUrl" alt>
                        </div>
                        <div class="content-container">
                            <div class="content">
                                {{ category.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button">
                <div class="prev" (click)="prev()">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="next" (click)="next()">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>