.category-container {
    margin-top: 20px;
    padding: 0;

    height: 360px;
    width: 1200px;

    overflow: hidden;
    background-color: bisque;
}

.header-container {
    height: 60px;
    width: 1200px;

    background-color: aqua;
}