
<div class="footer">
    <footer class="container">
        <div class="app-relation">
            <div class="relation-column">
                <div class="column-header">
                    CHĂM SÓC KHÁCH HÀNG
                </div>

                <ul>
                    <li>
                        <a href="#">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li>
                        <a href="#">Shopee Blog</a>
                    </li>
                    <li>
                        <a href="#">Shopee Mall</a>
                    </li>
                    <li>
                        <a href="#">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li>
                        <a href="#">Hướng Dẫn Bán Hàng</a>
                    </li>
                    <li>
                        <a href="#">Thanh Toán</a>
                    </li>
                    <li>
                        <a href="#">Shopee Xu</a>
                    </li>
                    <li>
                        <a href="#">Vận Chuyển</a>
                    </li>
                    <li>
                        <a href="#">Trả Hàng & Hoàn Tiền</a>
                    </li>
                    <li>
                        <a href="#">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li>
                        <a href="#">Chính sách Bảo Hành</a>
                    </li>
                </ul>

            </div>
            <div class="relation-column">
                <div class="column-header">
                    VỀ SHOPEE
                </div>

                <ul>
                    <li>
                        <a href="#">Giới Thiệu Về Shopee Việt Nam</a>
                    </li>
                    <li>
                        <a href="#">Tuyển Dụng</a>
                    </li>
                    <li>
                        <a href="#">Điều Khoản Shopee</a>
                    </li>
                    <li>
                        <a href="#">Chính Sách Bảo Mật</a>
                    </li>
                    <li>
                        <a href="#">Chính Hãng</a>
                    </li>
                    <li>
                        <a href="#">Kênh Người Bán</a>
                    </li>
                    <li>
                        <a href="#">Flash Sales</a>
                    </li>
                    <li>
                        <a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                    </li>
                    <li>
                        <a href="#">Liên Hệ Với Truyển Thông</a>
                    </li>
                </ul>
            </div>
            <div class="relation-column part">
                <div class="column-part">
                    <div class="column-header">
                        THANH TOÁN
                    </div>

                    <div class="relation-contents">
                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/visa.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/2.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/jcb.png" alt>
                            </div>
                        </div>

                        <div class="relation-row">
                            <div class="relation-container">
                                <img
                                    src="../../../assets/footer/american_express.png"
                                    alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/cod.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/tra_gop.png"
                                    alt>
                            </div>
                        </div>

                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/shpay.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/shpaylater.png"
                                    alt>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-part" style="margin-top: 15px;">
                    <div class="column-header">
                        ĐƠN VỊ VẬN CHUYỂN
                    </div>

                    <div class="relation-contents">
                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/spx.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/giaohangtk.png"
                                    alt>
                            </div>

                            <div class="relation-container">
                                <img
                                    src="../../../assets/footer/giaohangnhanh.png"
                                    alt>
                            </div>
                        </div>

                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/vtpost.png"
                                    alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/vnpost.png"
                                    alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/j&t.png" alt>
                            </div>
                        </div>

                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/grab.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/ninjavan.png"
                                    alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/best.png" alt>
                            </div>
                        </div>

                        <div class="relation-row">
                            <div class="relation-container">
                                <img src="../../../assets/footer/br.png" alt>
                            </div>

                            <div class="relation-container">
                                <img src="../../../assets/footer/ahamove.png"
                                    alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relation-column">
                <div class="column-header">
                    THEO DÕI CHÚNG TÔI TRÊN
                </div>
                <ul class="link-social">
                    <li>
                        <i class="fa-brands fa-facebook" style="color: #000000; 
                                    margin-right: 6px; margin-top: 1px; font-size: 17px;"></i>
                        Facebook
                    </li>

                    <li>
                        <i class="fa-brands fa-instagram"
                            style="color: #000000; 
                                    margin-right: 6px; margin-top: 1px; font-size: 20px;"></i>
                        Instagram
                    </li>

                    <li>
                        <i class="fa-brands fa-linkedin" style="color: #000000; 
                                    margin-right: 6px; margin-top: 1px; font-size: 20px;"></i>
                        LinkedIn
                    </li>
                </ul>
            </div>
            <div class="relation-column">
                <div class="column-header">
                    TẢI ỨNG DỤNG SHOPEE NGAY THÔI
                </div>

                <div class="relation-contents download-container"
                    style="margin-top: 15px;">
                    <div class="qrcode-container">
                        <img src="../../../assets/footer/QR.png" alt>
                    </div>

                    <div class="downapp-container">
                        <div class="app-link-container">
                            <i class="fa-brands fa-apple"
                                style="color: rgb(133, 124, 124); 
                            font-size: 20px; margin-right: 5px;"></i>
                            App Store
                        </div>
                        <div class="app-link-container">
                            <i class="fa-brands fa-google-play"
                                style="color: #FFD43B; 
                            font-size: 17px; margin-right: 5px;"></i>
                            Google Play
                        </div>
                        <div class="app-link-container">
                            <i class="fa-brands fa-envira"
                                style="color: rgb(133, 124, 124); 
                            font-size: 20px; margin-right: 5px;"></i>
                            App Gallery
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="app-regions">
            <div class="region-container">
                <div class="item copyright">
                    © 2024 Shopee. Tất cả các quyền được bảo lưu.
                </div>
                <div class="item region">
                    Quốc gia & Khu vực:
                    <ul class="region-list">
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Indonesia</a></li>
                        <li><a href="#">Thái Lan</a></li>
                        <li><a href="#">Malaysia</a></li>
                        <li><a href="#">Việt Nam</a></li>
                        <li><a href="#">Philippines</a></li>
                        <li><a href="#">Brazil</a></li>
                        <li><a href="#">México</a></li>
                        <li><a href="#">Colombia</a></li>
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Đài Loan</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="app-legital">
            <div class="img-container">
                <img src="../../../assets/footer/BOCONGTHUONG.png" alt>
            </div>

            <div class="img-container">
                <img src="../../../assets/footer/BOCONGTHUONG.png" alt>
            </div>

            <div class="img-container">
                <img src="../../../assets/footer/VANTAY.png" alt>
            </div>
        </div>

        <div class="app-idea">
            <div class="app-admin">
                Nguyễn Tấn Tài - 2212990
            </div>

            <div class="content">
                Đây là dự án mình muốn thực hiện trong thời gian học hè HK233
                nhằm nâng cao kỹ năng tạo ra trang web. Đầu tiên, mình dự định
                thực hiện dự án này bẳng Rust, tuy nhiên có vẻ trình độ mình
                chưa đủ. Thế nên, dự án này là sự kết hợp giữa
                Framework Angular và Java SpringBoot.
            </div>

            <div class="admin-place"> 
                Đại Học Bách Khoa - Thành phố Hồ Chính
                Minh - Tháng 7 - 2024
            </div>
        </div>
    </footer>
</div>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />