<footer class="container">
    <div class="app-relation">

        <div class="relation-column">
            <div class="column-header">
                CHĂM SÓC KHÁCH HÀNG
            </div>

            <ul>
                <li>
                    <a href="#">Trung Tâm Trợ Giúp</a>
                </li>
                <li>
                    <a href="#">Shopee Blog</a>
                </li>
                <li>
                    <a href="#">Shopee Mall</a>
                </li>
                <li>
                    <a href="#">Hướng Dẫn Mua Hàng</a>
                </li>
                <li>
                    <a href="#">Hướng Dẫn Bán Hàng</a>
                </li>
                <li>
                    <a href="#">Thanh Toán</a>
                </li>
                <li>
                    <a href="#">Shopee Xu</a>
                </li>
                <li>
                    <a href="#">Vận Chuyển</a>
                </li>
                <li>
                    <a href="#">Trả Hàng & Hoàn Tiền</a>
                </li>
                <li>
                    <a href="#">Chăm Sóc Khách Hàng</a>
                </li>
                <li>
                    <a href="#">Chính sách Bảo Hành</a>
                </li>
            </ul>

        </div>
        <div class="relation-column">
            <div class="column-header">
                VỀ SHOPEE
            </div>

            <ul>
                <li>
                    <a href="#">Giới Thiệu Về Shopee Việt Nam</a>
                </li>
                <li>
                    <a href="#">Tuyển Dụng</a>
                </li>
                <li>
                    <a href="#">Điều Khoản Shopee</a>
                </li>
                <li>
                    <a href="#">Chính Sách Bảo Mật</a>
                </li>
                <li>
                    <a href="#">Chính Hãng</a>
                </li>
                <li>
                    <a href="#">Kênh Người Bán</a>
                </li>
                <li>
                    <a href="#">Flash Sales</a>
                </li>
                <li>
                    <a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                </li>
                <li>
                    <a href="#">Liên Hệ Với Truyển Thông</a>
                </li>
            </ul>
        </div>
        <div class="relation-column">
            <div class="column-header">
                THANH TOÁN
            </div>
        </div>
        <div class="relation-column">
            <div class="column-header">
                THEO DÕI CHÚNG TÔI TRÊN
            </div>
        </div>
        <div class="relation-column">
            <div class="column-header">
                TẢI ỨNG DỤNG SHOPEE NGAY THÔI
            </div>
        </div>
    </div>
</footer>