<div class="navbar">
    <div class="navbar-container container">
        <div class="left-container">
            <div class="logo-container" (click)="navigateToHomepage()">
                <img
                    src="../../../assets/shopeeLogo.svg"
                    alt class="logo">
            </div>
            <div class="header-container">
                Đăng ký
            </div>
        </div>
        <div class="right-container">
            <a href="https://github.com/nguyentantai21042004" class="help-link"
                target="_blank"> Bạn cần giúp đỡ ? </a>
        </div>
    </div>
</div>