
<div class="dialog-wrapper">
    <div mat-dialog-content class="dialog-content">
        Bạn sẽ nhận được mã xác minh từ một cuộc gọi thoại đến: {{
        data.phoneNumber }}
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <div class="dialog-close dialog-button" [mat-dialog-close]="true"
            style="margin-right: 10px;">
            TRỞ LẠI
        </div>
        <div class="dialog-next dialog-button" mat-button
            (click)="navigateToNextSlide()">
            GỌI CHO TÔI
        </div>
    </div>
</div>