.dialog-wrapper {
    width: 400px;
    height: auto;
    padding: 15px;


    // background-color: aqua;
}

.dialog-content {
    text-align: center;
    font-size: 14px;
    color: grey;
    line-height: 20px !important;
}

.dialog-actions {
    display: flex;

    justify-content: center;
}

.dialog-actions .dialog-button {
    height: 40px;
    width: 130px;

    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 12px;
    font-weight: 500;
    color: white;
    border: 0.1px solid rgb(233, 233, 233);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .06);

    background-color: red;
}

.dialog-actions .dialog-close {
    background-color: #fff;
    color: gray;
}

.dialog-actions .dialog-close:hover{
    background-color: #dbd5d5;
}

.dialog-actions .dialog-next {
    background-color: #ee4d2d;
}

.dialog-actions .dialog-next:hover {
    background-color: #f06347;
}