<div class="shopee-top">
    <div class="navbar">
        <div class="navbar-wrapper">
            <div class="left-container">
                <div class="image-container">
                    <img src="../../../assets/shopeeLogo.svg" alt>
                </div>
                <div class="header-container">
                    Kênh Người Bán
                </div>
            </div>
            <div class="right-container">
                <div class="user-profile">
                    
                </div>
            </div>
        </div>
    </div>
</div>