.shopee-top {
    width: 100vw;
    height: 56px;

    background-color: #f6f6f6;
    overflow: hidden;
}

.navbar {
    padding: 0;
}

.navbar-wrapper {
    width: 100vw;
    height: 56px;

    margin: 0 16px;

    display: flex;
    justify-content: space-between;
}

.left-container {
    height: 56px;
    width: 410px;

    display: flex;
    background-color: aqua;
}

.left-container .image-container {
    width: 100px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.left-container .image-container img {
    width: 100px;
    object-fit: cover;
}

.left-container .header-container {

    margin-top: 3.2px;
    margin-left: 5px;
    width: 300px;
    height: 56px;

    display: flex;
    align-items: center;

    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: 400;

    background-color: rgb(84, 136, 119);
}

.right-container {
    height: 56px;
    width: 410px;

    display: flex;
    background-color: aqua;
}

.right-container .user-profile {
    height: 56px;
    width: 160px;
    background-color: rebeccapurple;
}

