.mall-container {
    margin-top: 20px;
    padding: 0;

    height: 540px;
    width: 1200px;

    overflow: hidden;
    background-color: aquamarine;
}

.header-container {
    height: 60px;
    width: 1200px;

    background-color: brown;
}

.item-container {
    height: 490px;
    width: 1200px;
}