
<div class="page-container">
    <app-navbar></app-navbar>

    <div class="category-container container">
        <div class="category-list">
            <div class="list-header">

            </div>

            <div class="list-button">
                XÓA TẤT CẢ
            </div>
        </div>
        <div class="category-content">
            <div class="content-header">
                <div class="left-header">

                </div>
                <div class="right-header">

                </div>
            </div>
            <div class="content-container">
                <div class="content-wrapper">

                </div>
                <div class="content-page">
                    
                </div>
            </div>

        </div>
    </div>

    <app-footer></app-footer>
</div>
